.expenses-list {
    list-style: none;
    padding: 0;
  }
  
  .expenses-list__fallback {
    color: white;
    text-align: center;
  }
  .expenses-list__fallback-1 {
    color: white;
    text-align: center;
  }